<div id="playerControls">
    <div id="playControl">
        <a id="playBtn" class="btn" (click)="videoService.togglePlay()">
            <i [ngClass]="{'fa-play': !videoService.isPlaying, 'fa-pause': videoService.isPlaying}" class="fa"></i>
            <span *ngIf="!videoService.isPlaying">Play</span>
            <span *ngIf="videoService.isPlaying">Pause</span>
        </a>
        <span id="videoTime">
            {{videoService.currentTime | timeDisplay}} / {{videoService.totalTime | timeDisplay}}
        </span>
    </div>
    <div id="volumeControl">    
        <a id="muteBtn" class="btn" (click)="videoService.toggleVolume()">        
            <i [ngClass]="{'fa-volume-off': videoService.isMuted, 'fa-volume-up': !videoService.isMuted}" class="fa"></i>
        </a>
        <a id="fsBtn" (click)="videoService.fullScreen()">
            <i class="fa fa-expand"></i>
        </a>
    </div>
</div>
